/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #EADFD4;
  --black: #000;
  --heading-color: #23343B;
  --body-color: #636363;
  --accent-color: #F26F62;
  --blue-color: #0A0F12;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Rubik', sans-serif;
}
